<mat-toolbar color="primary">
  <span>Agile Engine</span>
</mat-toolbar>
<div class="landing">
  <mat-spinner class="landing__spinner" *ngIf="!haveCards"></mat-spinner>
  <div class="landing__grid" *ngIf="haveCards">
    <mat-card class="landing__card" *ngFor="let item of cards.pictures" (click)="openDialog(item.id)">
      <img mat-card-image [src]="item.cropped_picture">
    </mat-card>
  </div>
  <mat-paginator class="landing__paginator" [length]="cards.pageCount * 10"
                [pageSize]="10"
                (page)="nextOrPrevious($event)">
  </mat-paginator>
</div>